<robot xmlns:xacro="http://ros.org/wiki/xacro" name="actuators">

  <xacro:macro name="simple_mechanism" params="name serial_number node processor_firmware fpga_firmware">
  	<Mechanism id="${name}" type="simple">
  		<SerialNumber id="${serial_number}" />
  		<Node id="${node}" />
  		<Processor_Firmware id="${processor_firmware}" />
  		<Fpga_Firmware id="${fpga_firmware}" />
	</Mechanism>

</xacro:macro>

<xacro:macro name="joint" params="name type">
	<Joint id="${name}" type="${type}">
	</Joint>
</xacro:macro>

<xacro:macro name="actuator" params="name serial_number node processor_firmware fpga_firmware" >
	<Actuator id="${name}">
		<SerialNumber id="${serial_number}" />
		<Node id="${node}" />
		<Processor_Firmware id="${processor_firmware}" />
		<Fpga_Firmware id="${fpga_firmware}" />
	</Actuator>
</xacro:macro>

<xacro:macro name="two_active_joint_mechanism" params="mechanism_name actuator0_name actuator1_name joint0_name joint1_name actuator0_serial actuator0_node actuator1_serial actuator1_node processor_firmware0 fpga_firmware0 processor_firmware1 fpga_firmware1" >
	<Mechanism id="${mechanism_name}" type="complex">
		<xacro:joint name="${joint0_name}" type="active"/>
		<xacro:joint name="${joint1_name}" type="active"/>
		<xacro:actuator name="${actuator0_name}" serial_number="${actuator0_serial}" node="${actuator0_node}" processor_firmware="${processor_firmware0}" fpga_firmware="${fpga_firmware0}"/>
		<xacro:actuator name="${actuator1_name}" serial_number="${actuator1_serial}" node="${actuator1_node}" processor_firmware="${processor_firmware1}" fpga_firmware="${fpga_firmware1}"/>
	</Mechanism>
</xacro:macro>

<xacro:macro name="forearm" params="mechanism_name serial_number athena1_node athena2_node">
    <Mechanism id="${mechanism_name}" type="forearm">
            <SerialNumber id="${serial_number}"/>
            <Nodes>
                <Athena1 id="${athena1_node}"/>
                <Athena2 id="${athena2_node}"/>
            </Nodes>
    </Mechanism>
</xacro:macro>

</robot>
