<robot xmlns:xacro="http://ros.org/wiki/xacro" name="leg">

    <xacro:include filename="$(find val_description)/instance/instances/robots/xacro/mechanisms/mechanisms.xacro"/>
    <xacro:include filename="$(find val_description)/common/xacro/joint_names/valkyrie_joint_names.xacro"/>

    <xacro:macro name="leg" params="prefix j1_serial_number j2_serial_number j3_serial_number j4_serial_number ankle_left_actuator_serial ankle_right_actuator_serial" >
    	<xacro:simple_mechanism name="${HipYawJointName}" serial_number="${j1_serial_number}" node="${HipYawNode}" processor_firmware="${HipYawProcFirmware}" fpga_firmware="${HipYawFPGAFirmware}"/>

    	<xacro:simple_mechanism name="${HipRollJointName}" serial_number="${j2_serial_number}" node="${HipRollNode}" processor_firmware="${HipRollProcFirmware}" fpga_firmware="${HipRollFPGAFirmware}"/>

    	<xacro:simple_mechanism name="${HipPitchJointName}" serial_number="${j3_serial_number}" node="${HipPitchNode}" processor_firmware="${HipPitchProcFirmware}" fpga_firmware="${HipPitchFPGAFirmware}"/>

    	<xacro:simple_mechanism name="${KneePitchJointName}" serial_number="${j4_serial_number}" node="${KneePitchNode}" processor_firmware="${KneePitchProcFirmware}" fpga_firmware="${KneePitchFPGAFirmware}"/>

    	<xacro:two_active_joint_mechanism mechanism_name="${prefix}Ankle" actuator0_name="${AnkleLeftActuatorName}" actuator1_name="${AnkleRightActuatorName}" joint0_name="${AnklePitchJointName}" joint1_name="${AnkleRollJointName}" actuator0_serial="${ankle_left_actuator_serial}" actuator1_serial="${ankle_right_actuator_serial}" actuator0_node="${AnkleLeftActuatorNode}" actuator1_node="${AnkleRightActuatorNode}" processor_firmware0="${AnkleLeftActuatorProcFirmware}" fpga_firmware0="${AnkleLeftActuatorFPGAFirmware}" processor_firmware1="${AnkleRightActuatorProcFirmware}" fpga_firmware1="${AnkleRightActuatorFPGAFirmware}"/>
    </xacro:macro>

</robot>
