<?xml version="1.0" ?>
<robot name="valkyrie_firmware_locations" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:property name="PublicProcFirmwareBaseURL" value="http://linkthatdoesnotresolve.com"/>
    <xacro:property name="PrivateProcFirmwareBaseURL" value="http://flexo.jsc.nasa.gov/bamboo/browse/DRCE-TURBOPROC/latest/artifact/shared/"/>

    <xacro:property name="PublicFPGAFirmwareBaseURL" value="NA"/>
    <xacro:property name="PrivateFPGAFirmwareBaseURL" value="NA"/>

    <xacro:property name="TurboProcRotaryFirmwareExtension" value="Rotary-Binary-for-Bootloader/turbo_bootloader.bin"/>
    <xacro:property name="TurboProcLinearFirmwareExtension" value="Linear-Binary-for-Bootloader/turbo_bootloader.bin"/>

    <xacro:property name="TurboProcRotaryFirmwareURL" value="${TurboProcRotaryFirmwareExtension}"/>
    <xacro:property name="TurboProcLinearFirmwareURL" value="${TurboProcLinearFirmwareExtension}"/>

    <xacro:property name="TurboFPGAFirmwareURL" value="NA"/>

    <xacro:macro name="firmware_base_url" >
        <TurbodriverProcessorFirmware>
            <PublicProcFirmwareBaseURL id="${PublicProcFirmwareBaseURL}"/>
            <PrivateProcFirmwareBaseURL id="${PrivateProcFirmwareBaseURL}"/>
        </TurbodriverProcessorFirmware>
        <TurbodriverFPGAFirmware>
            <PublicFPGAFirmwareBaseURL id="${PublicFPGAFirmwareBaseURL}"/>
            <PrivateFPGAFirmwareBaseURL id="${PrivateFPGAFirmwareBaseURL}"/>
        </TurbodriverFPGAFirmware>
    </xacro:macro>

    <xacro:property name="HipYawProcFirmware" value="${TurboProcRotaryFirmwareURL}" />
    <xacro:property name="HipYawFPGAFirmware" value="${TurboFPGAFirmwareURL}" />
    <xacro:property name="HipRollProcFirmware" value="${TurboProcRotaryFirmwareURL}" />
    <xacro:property name="HipRollFPGAFirmware" value="${TurboFPGAFirmwareURL}" />
    <xacro:property name="HipPitchProcFirmware" value="${TurboProcRotaryFirmwareURL}" />
    <xacro:property name="HipPitchFPGAFirmware" value="${TurboFPGAFirmwareURL}" />
    <xacro:property name="KneePitchProcFirmware" value="${TurboProcRotaryFirmwareURL}" />
    <xacro:property name="KneePitchFPGAFirmware" value="${TurboFPGAFirmwareURL}" />
    <xacro:property name="AnkleLeftActuatorProcFirmware" value="${TurboProcLinearFirmwareURL}" />
    <xacro:property name="AnkleLeftActuatorFPGAFirmware" value="${TurboFPGAFirmwareURL}" />
    <xacro:property name="AnkleRightActuatorProcFirmware" value="${TurboProcLinearFirmwareURL}" />
    <xacro:property name="AnkleRightActuatorFPGAFirmware" value="" />

    <xacro:property name="ShoulderPitchProcFirmware" value="${TurboProcRotaryFirmwareURL}" />
    <xacro:property name="ShoulderPitchFPGAFirmware" value="${TurboFPGAFirmwareURL}" />
    <xacro:property name="ShoulderRollProcFirmware" value="${TurboProcRotaryFirmwareURL}" />
    <xacro:property name="ShoulderRollFPGAFirmware" value="${TurboFPGAFirmwareURL}" />
    <xacro:property name="ShoulderYawProcFirmware" value="${TurboProcRotaryFirmwareURL}" />
    <xacro:property name="ShoulderYawFPGAFirmware" value="${TurboFPGAFirmwareURL}" />
    <xacro:property name="ElbowPitchProcFirmware" value="${TurboProcRotaryFirmwareURL}" />
    <xacro:property name="ElbowPitchFPGAFirmware" value="${TurboFPGAFirmwareURL}" />
    <xacro:property name="ForearmYawProcFirmware" value="${TurboFPGAFirmwareURL}" />
    <xacro:property name="ForearmYawFPGAFirmware" value="${TurboFPGAFirmwareURL}" />

    <xacro:property name="LowerNeckPitchProcessorFirmware" value="" />
    <xacro:property name="LowerNeckPitchFPGAFirmware" value="" />
    <xacro:property name="NeckYawProcessorFirmware" value="" />
    <xacro:property name="NeckYawFPGAFirmware" value="" />
    <xacro:property name="UpperNeckPitchProcessorFirmware" value="" />
    <xacro:property name="UpperNeckPitchFPGAFirmware" value="" />

    <xacro:property name="TrunkYawProcessorFirmware" value="${TurboProcRotaryFirmwareURL}" />
    <xacro:property name="TrunkYawFPGAFirmware" value="${TurboFPGAFirmwareURL}" />
    <xacro:property name="WaistRightActuatorProcessorFirmware" value="${TurboProcLinearFirmwareURL}" />
    <xacro:property name="WaistRightActuatorFPGAFirmware" value="${TurboFPGAFirmwareURL}" />
    <xacro:property name="WaistLeftActuatorProcessorFirmware" value="${TurboProcLinearFirmwareURL}" />
    <xacro:property name="WaistLeftActuatorFPGAFirmware" value="${TurboFPGAFirmwareURL}" />

    <xacro:property name="leftForearmProcessorFirmware" value=""/>
    <xacro:property name="leftForearmFPGAFirmware" value=""/>
    <xacro:property name="rightForearmProcessorFirmware" value=""/>
    <xacro:property name="rightForearmFPGAFirmware" value=""/>
</robot>
